{% extends "base.html" %} {% load i18n %} {% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm">
        <div class="card-header text-center">
          <h3>{% translate "إعادة تعيين كلمة المرور" %}</h3>
        </div>
        <div class="card-body">
          <p>
            {% translate "أدخل عنوان بريدك الإلكتروني وسوف نرسل لك تعليمات
            لإعادة تعيين كلمة المرور." %}
          </p>
          <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">
              {% translate "إرسال تعليمات إعادة التعيين" %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
