{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">تسجيل الدخول</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">دخول</button>
                        </div>
                    </form>
                    <div class="border-top pt-3 text-center">
                        <small class="text-muted">
                            ليس لديك حساب؟ <a class="ms-2" href="{% url 'users:register' %}">تسجيل حساب جديد</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 