{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-header">
        <h3>{% translate "إنشاء حساب جديد" %}</h3>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary w-100">{% translate "إنشاء حساب" %}</button>
        </form>
        <div class="mt-3 text-center">
          <p>
            {% translate "هل لديك حساب؟" %} 
            <a href="{% url 'users:login' %}">{% translate "تسجيل دخول" %}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}